<?php
// Site settings
$baseURL = 'http://www.swarzie.com/';

// Database settings

define('DB_HOST', $dbHost);
define('DB_USERNAME', $dbUsername);
define('DB_PASSWORD', $dbPassword);
define('DB_NAME', $dbName);


if(!session_id()){
 session_start();
}

$sessData = !empty($_SESSION['sessData'])?$_SESSION['sessData']:'';
